body {
  margin: 0;
}

iframe {
  width: 100vw;
  height: calc(100vh - 48px);
  border: 0;
}

paper-tabs::shadow #selectionBar {
  background-color: red;
}

paper-tabs paper-tab::shadow #ink {
  color: red;
}

paper-tab::shadow #ink {
  color: red;
}
